body{
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
}
p{
    text-align: justify;
    font-size: 17px;
}
h1{
    color: rgb(56, 10, 99);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
button{
    padding: 8px;
    color: white;
    background-color: rgb(56, 10, 99);
    border-radius: 12px;
}